<!--directive-->
<div stacked stacked-items="{{p.ProductsS.products}}" stacked-template-url="/modules/products/html/stacked.html" stacked-min-width="150" stacked-max-width="250"></div>

<!--to go inside a template-->
<div ng-controller="StackedCtlr as s" class="column_wrapper">
    <div ng-repeat="column in s.StackedS.stacked_columns track by $index" stacked_column="{{$index}}" class="column stacked_column">
        <div ng-repeat="item in column track by $index" stacked-item class="column_item">
            <a ng-href="/product/{{item.url}}">
                <span class="image"><img ng-src="{{item.image}}" /></span>
                <span class="title" ng-bind-html="item.name"></span>
            </a>
        </div>
    </div>
</div>
