<div ng-repeat="column in stacked_columns track by $index" stacked_column="{{$index}}">
	<div ng-repeat="item in column track by $index" stacked-item>
		<img ng-if="item.img" ng-src="{{item.img}}" />
		<div ng-if="item.html" ng-bind-html="item.html"></div>
		<p ng-if="item.text" ng-bind-html="'<label>Text:&nbsp;</label>'+item.text" class="stacked_text"></p>
		<p ng-if="item.alpha" ng-bind-html="'<label>Alpha:&nbsp;</label>'+item.alpha" class="stacked_text"></p>
		<p ng-if="item.number" ng-bind-html="'<label>Number:&nbsp;</label>'+item.number" class="stacked_text"></p>
		<p ng-if="item.created" ng-bind-html="'<label>Created:&nbsp;</label>'+item.created" class="stacked_text"></p>
	</div>
</div>
