*[stacked]{
display:table;
width:100%;
table-layout:fixed;
}

*[stacked] *[stacked_column]{
display:table-cell;
vertical-align: top;
width:100%;
}

*[stacked] *[stacked-item]{
width:95%;
display: inline-block;
background: #fff;
padding: 3%;
margin: 0px 0% 5% 0%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-shadow: 2px 2px 4px 0 #ccc;
}

*[stacked] *[stacked-item] img{
width:100%;
max-width:100%;
height:auto;
}

*[stacked] *[stacked-item] p.stacked_text {
	margin:15px 2px 0;
}
